section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: linear-gradient(270deg,rgb(50,75,150),rgb(50,175,255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

